# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
public/lib

# --------------------
# Grunt temp Files
# --------------------
.tmp/


# --------------------
# App Files
# --------------------
test/coverage/
test/coverage.html
public/stylesheets/app.css
public/stylesheets/admin.css
logs/
newrelic_agent.log