html {
  height: 100%;
  background: #ca5c38;
}
body {
  background: #ffffff;
  color: #808080;
  font-family: 'Roboto', "Helvetica", SimSun, "宋体", "Microsoft YaHei", "微软雅黑", sans-serif;
  font-size: 20px;
}
.wrap {
  margin: 0 auto;
  width: 85%;
  max-width: 1140px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
::-moz-selection {
  background: #3DA9A4;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #3DA9A4;
  color: #fff;
  text-shadow: none;
}
a {
  color: #e1704b;
  text-decoration: none;
  -webkit-transition: color .15s linear;
          transition: color .15s linear;
}
a.link:before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  margin-right: .5em;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,
a:active {
  outline: 0;
}
h2,
h3 {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
}
h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3em;
  line-height: 1em;
  margin: 0 0 .5em 0;
  color: #333333;
  letter-spacing: .05em;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
  letter-spacing: .05em;
  text-transform: uppercase;
}
h3 {
  padding: 0;
  margin: 10px 0 1em 0;
  color: #e1704b;
}
h4 {
  color: #333333;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 0;
  margin: 0 0 1em 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.form-control {
  border: none;
  border-radius: 0;
  padding: 1em;
  font-size: 1.2em;
  background: #eeeeee;
  position: relative;
}
textarea.error,
input.error {
  background-color: #e1704b;
  color: #FFF;
  /* firefox 19+ */
  /* ie */
}
textarea.error::-webkit-input-placeholder,
input.error::-webkit-input-placeholder {
  color: #FFF;
}
textarea.error::-moz-placeholder,
input.error::-moz-placeholder {
  color: #FFF;
}
textarea.error:-ms-input-placeholder,
input.error:-ms-input-placeholder {
  color: #FFF;
}
textarea.error:-moz-placeholder,
input.error:-moz-placeholder {
  color: #FFF;
}
.circle-icon {
  background: #75c3bf;
  color: #FFF;
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: background .15s linear;
          transition: background .15s linear;
  text-align: center;
}
.common-btn {
  min-width: 170px;
  background: rgba(57, 169, 164, 0.95);
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 0;
  margin: 10px;
  padding: 10px 40px;
  -webkit-transition: background 500ms linear;
          transition: background 500ms linear;
  font-size: 18px;
}
.common-btn:hover,
.common-btn:focus {
  color: #ffffff;
  background: #3B4250;
}
/* Header __________________________________________________________ */
header {
  background: #fff;
  overflow: hidden;
  padding: 3em 0 1em;
  position: relative;
}
header .wrap {
  text-align: left;
}
header .logo-mark {
  float: left;
  width: 100px;
  height: 100px;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  background-image: url("/images/erealm.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
header .logo-mark:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
header .logo-mark a {
  display: block;
  width: 100%;
  height: 100%;
}
header .intro {
  margin-left: 15%;
}
header .intro span {
  color: #999999;
  display: block;
  font-size: 1.2em;
  letter-spacing: .05em;
  line-height: 1em;
  margin-bottom: .7em;
}
header .git-fock {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  box-shadow: 0 0 1em #888;
}
header .git-fock a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
/* Navigation __________________________________________________________ */
.nav-container {
  height: 4em;
}
.nav-container nav {
  background: #eeeeee;
  padding: 0;
  height: 4em;
  z-index: 999;
  width: 100%;
}
.nav-container nav .sub-logo-mark {
  float: left;
  width: 2.5em;
  height: 2.5em;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  background-image: url("/images/erealm.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 1em;
  margin-left: .4em;
}
.nav-container nav .sub-logo-mark:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
.nav-container nav .sub-logo-mark a {
  display: block;
  width: 100%;
  height: 100%;
}
.nav-container nav .sub-logo-mark {
  display: none;
}
.nav-container nav.fixed {
  position: fixed;
  top: 0;
}
.nav-container nav.fixed .sub-logo-mark {
  display: inline-block;
}
.nav-container nav ul {
  line-height: 4.7em;
  float: right;
  display: inline-block;
  font-size: .9em;
  letter-spacing: .1em;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  vertical-align: top;
}
.nav-container nav ul a {
  color: #333;
  text-decoration: none;
  margin: 0 1em;
  padding-bottom: 5px;
}
.nav-container nav ul a:visited {
  color: #333;
}
.nav-container nav ul li {
  line-height: 1em;
  display: inline-block;
}
.nav-container nav li.active a {
  color: #e1704b;
}
.nav-container nav li.active a {
  color: #e1704b;
}
.nav-container nav li:hover a {
  color: #e1704b;
}
.nav-container .nav-link {
  background-repeat: no-repeat;
  background-size: 29px 59px;
  position: absolute;
  right: 0;
  display: inline-block;
  margin: .7em .4em;
  font-size: 1.5em;
  width: 29px;
  height: 21px;
  display: none;
}
.nav-container nav .wrap {
  text-align: left;
}
.content {
  min-height: 400px;
  position: relative;
  background-color: #ffffff;
}
footer {
  background: #e1704b;
  color: #ffffff;
  padding-top: 2.5em;
  clear: both;
  margin-top: 0;
}
footer .contact ul {
  margin: 0 0 3em 0;
  padding: 0;
}
footer .contact p {
  width: 50%;
  margin: 1em auto;
}
footer ul li {
  display: inline-block;
  margin-left: 1.5em;
  margin-right: 1.5em;
  width: 82px;
}
footer ul li a,
footer ul li a:link,
footer ul li a:visited {
  background: #ea9b81;
  color: #FFF;
  position: relative;
}
footer ul li a:hover {
  background: #d56540;
}
footer .copyright {
  background: #d56540;
  text-align: center;
  padding: 2em;
}
footer .copyright p {
  font-size: .7em;
  width: 100%;
}
footer .copyright a {
  color: #EA9B81;
}
footer .copyright a:hover {
  color: #a34424;
}
footer .back-top {
  position: fixed;
  font-size: .8em;
  color: #ffffff;
  bottom: 20px;
  right: 20px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  text-align: center;
  background: #39a9a4;
  z-index: 1000;
}
.error-info {
  padding: 40px 0;
}
.error-info h1 {
  color: #e1704b;
}
.muti-language {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #A00;
}
.muti-language .btn {
  padding-top: 0;
  padding-bottom: 0;
}
.muti-language a:visited {
  color: #e1704b;
}
.muti-language a:hover {
  color: #333333;
}
.page-menu-slide {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  background-color: #333333;
  color: #FFF;
  box-shadow: inset 0 0 5px 5px #222;
  opacity: 0.9;
  -webkit-transition: width 100ms linear;
          transition: width 100ms linear;
}
.page-menu-slide.show {
  width: 200px;
}
.page-menu-slide .nav-slide {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.page-menu-slide .nav-slide li.divider {
  height: 100px;
  border-bottom: 1px solid #5c5c5c;
  background: #CCC;
}
.page-menu-slide .nav-slide li a {
  display: block;
  color: #ffffff;
  padding: 1em 2em ;
  border-bottom: 1px solid #5c5c5c;
}
.page-menu-slide .nav-slide li a:hover {
  w-color: #6a6a6a;
}
.overlay-message {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.overlay-message .loader {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
  padding: 0;
  width: 100px;
  list-style: none;
}
.overlay-message li {
  background-color: #ffffff;
  width: 15px;
  height: 10px;
  float: right;
  margin: 0 8px;
  box-shadow: 0px 100px 20px rgba(0, 0, 0, 0.2);
}
.overlay-message li:first-child {
  -webkit-animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s;
          animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s;
}
.overlay-message li:nth-child(2) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s;
          animation: loadbars 0.6s ease-in-out infinite -0.2s;
}
.overlay-message li:nth-child(3) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s;
          animation: loadbars 0.6s ease-in-out infinite -0.4s;
}
@-webkit-keyframes loadbars {
  0% {
    height: 10px;
    margin-top: 25px;
  }
  50% {
    height: 70px;
    margin-top: 0px;
  }
  100% {
    height: 10px;
    margin-top: 25px;
  }
}
@keyframes loadbars {
  0% {
    height: 10px;
    margin-top: 25px;
  }
  50% {
    height: 70px;
    margin-top: 0px;
  }
  100% {
    height: 10px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .wrap {
    width: 100%;
    padding: 0 1%;
  }
  .wrap .intro h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 768px) {
  header .git-fock {
    display: none;
  }
  header .logo-mark {
    float: none;
    width: 80px;
    height: 80px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  header .intro {
    margin: 0;
    text-align: center;
  }
  footer .contact p {
    width: 70%;
  }
}
/* Smartphones ----------- */
@media only screen and (max-width: 580px) {
  h2 {
    font-size: 1.5em;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  header {
    padding: 1em 0;
  }
  header .wrap .logo-mark {
    display: none;
  }
  header .wrap .intro {
    text-align: center;
    margin-left: auto;
    margin-top: 4em;
  }
  header .wrap .intro h1 {
    font-size: 1.5em;
  }
  .nav-container {
    height: auto;
  }
  .nav-container nav {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
  }
  .nav-container nav ul {
    display: none;
  }
  .nav-container nav .sub-logo-mark {
    display: inline-block;
  }
  .nav-container .nav-link {
    display: inline-block;
  }
  footer ul li {
    margin-left: .2em;
    margin-right: .2em;
  }
}
.what-we-work {
  min-height: 400px;
  margin-bottom: 1.18em;
  overflow-x: hidden;
  text-align: center;
}
.what-we-work .carousel-control {
  height: 80px;
  width: 80px;
  top: 40%;
  border-radius: 50%;
}
.what-we-work .carousel-control.left,
.what-we-work .carousel-control.right {
  background-image: none;
  background-color: #ea9b81;
}
.what-we-work .carousel-control.left {
  left: -30px;
}
.what-we-work .carousel-control.right {
  right: -30px;
}
.what-we-work .carousel-control .glyphicon-chevron-right,
.what-we-work .carousel-control .glyphicon-chevron-left {
  top: 25px;
  margin: 0;
}
.what-we-work .carousel-control .glyphicon-chevron-right {
  left: 15px;
}
.what-we-work .carousel-control .glyphicon-chevron-left {
  left: 35px;
}
.what-we-work .carousel-caption {
  color: #333333;
  position: static;
  height: 4em;
}
.what-we-work .carousel-indicators li {
  border: 1px solid #333333;
}
.what-we-work .carousel-indicators .active {
  background-color: #e1704b;
}
.what-we-work .carousel-cover {
  height: 500px;
}
.what-we-work img {
  margin: 0 auto;
  max-height: 100%;
}
.what-we-are {
  overflow: hidden;
  position: relative;
  height: 600px;
  color: #e1704b;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/background-0.png");
}
.what-we-are .home-box {
  width: 650px;
  text-align: center;
  margin-top: 150px;
}
.what-we-are .home-box h2 {
  margin-bottom: 1em;
}
.what-we-are .home-box .common-btn {
  color: #fff;
  background: transparent;
  border: solid 1px #ffffff;
}
.what-we-are .home-box .common-btn:hover {
  background: #3B4250;
}
.what-we-are .back2 + .wrap {
  color: #e1704b;
}
.what-we-love {
  margin: 0;
  padding: 2% 0;
  background: #39a9a4;
  color: #fff;
  text-align: center;
}
.what-we-love h2 {
  margin-bottom: 30px;
}
.what-we-love .programming-manners li {
  display: inline-block;
  width: 45%;
  margin: 0 2%;
  margin-bottom: 2em;
  vertical-align: top;
}
.what-we-love .programming-manners li .illustration {
  width: 115px;
  height: 115px;
  background: #ffffff;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 30px;
  color: #666;
  font-size: 60px;
  line-height: 115px;
}
.what-we-love a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}
.what-we-love a:hover {
  color: #333;
}
.what-we-can {
  padding: 2% 0%;
  overflow: hidden;
  min-height: 400px;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/background-6.png");
  text-align: center;
}
.what-we-can .programming-language li {
  display: inline-block;
  width: 100px;
  margin: 1%;
  margin-bottom: 2em;
  vertical-align: top;
  text-align: center;
}
.what-we-can .programming-language li::before {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-image: url("/images/languages.png");
}
.what-we-can .programming-language li.language-java::before {
  background-position: 10px 0;
}
.what-we-can .programming-language li.language-scala::before {
  background-position: -96px 0;
}
.what-we-can .programming-language li.language-net::before {
  background-position: -200px 0;
}
.what-we-can .programming-language li.language-nodejs::before {
  background-position: -300px 0;
}
.what-we-can .programming-language li.language-php::before {
  background-position: -400px 0;
}
.what-we-can .programming-language li.language-go::before {
  background-position: 0 -100px;
}
.what-we-can .programming-language li.language-swift::before {
  background-position: -100px -100px;
}
.what-we-can .programming-language li.language-html5::before {
  background-position: -200px -100px;
}
.what-we-can .programming-language li.language-python::before {
  background-position: -300px -100px;
}
.what-we-can .programming-language li.language-ruby::before {
  background-position: -400px -100px;
}
.what-we-can .programming-technology {
  width: 98%;
  margin: 0 auto;
}
.what-we-can .programming-technology li {
  display: inline-block;
  margin: 0 1em;
}
.what-we-can .programming-technology .tech-1 {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.7);
}
.what-we-can .programming-technology .tech-2 {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.8);
}
.what-we-can .programming-technology .tech-3 {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}
.what-we-can .programming-technology .tech-4 {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.9);
}
.what-we-can .programming-technology .tech-5 {
  font-size: 1.1em;
}
.cta {
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  padding: 2.5em 1em;
}
@media only screen and (max-width: 768px) and (min-width: 0) {
  .what-we-are {
    height: auto;
  }
  .what-we-are .wrap .home-box {
    width: 100%;
    padding: 10px;
    margin: 100px 0;
    text-align: center;
  }
  .what-we-work .carousel-cover {
    height: 300px;
  }
}
@media only screen and (max-width: 580px) and (min-width: 0) {
  .what-we-are .back.back1,
  .what-we-are .back.back2,
  .what-we-are .back.back3,
  .what-we-are .back.back4 {
    background-image: none;
  }
  .what-we-are .wrap .home-box {
    margin: 50px 0;
  }
  .what-we-are .wrap .home-box h2 {
    font-size: 1.5em;
  }
  .what-we-work .carousel-caption {
    height: 6em;
    padding: 0;
  }
  .what-we-love .programming-manners li {
    width: 90%;
    margin: 1em auto;
  }
  .what-we-love .programming-manners li p {
    width: 100%;
  }
  .what-we-love a {
    font-size: 1.2em;
  }
}
.work-wrap {
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.work-wrap .work-row {
  margin-bottom: 0;
}
.work-wrap .work-row li {
  height: 300px;
  text-align: center;
  cursor: pointer;
  margin: 4em auto 4em;
}
.work-wrap .work-row li q {
  color: #808080;
  margin-top: 10px;
  font-style: normal;
}
.work-wrap .work-row li h3 {
  margin-bottom: 30px;
}
.work-wrap .work-row figure {
  width: 350px;
  height: 270px;
  margin: 0 auto;
  position: relative;
}
.work-wrap .work-row figure:hover::after {
  content: '+';
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: rgba(225, 112, 75, 0.8);
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
  text-align: center;
}
.work-wrap .work-row img {
  -webkit-transition: -webkit-transform .5s ease;
          transition: transform .5s ease;
  width: 100%;
  height: auto;
  max-height: 100%;
}
@media only screen and (max-width: 580px) and (min-width: 0) {
  .work-wrap .work-row li {
    margin: .5em auto;
  }
}
.project-details-container {
  background-color: #ffffff;
  padding: 3em;
}
.project-details-container header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1em;
  margin-bottom: 1em;
  text-align: left;
}
.project-details-container header .back-work {
  float: right;
  font-size: 1.5em;
  font-weight: 700;
}
.project-details-container h2 {
  display: inline-block;
  margin: 0;
  color: #333333;
  line-height: 1em;
  width: 70%;
}
.project-details-container hr {
  border-top: 1px solid #61bab6;
}
.project-details-container hr.short {
  border-top: 1px solid #eeeeee;
  clear: both;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 20%;
}
.project-details-container p.introduce {
  padding: 0em 5em 2em 5em;
}
.project-details {
  position: relative;
}
.project-details li {
  background-color: #ffffff;
  box-shadow: 0 1px 3px #dedede;
  border: 1px solid #dedede;
  margin: 10px;
  padding: 5px;
}
.project-details li img {
  width: 100%;
  height: auto;
}
.project-details li p {
  color: #333333;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: 200;
  margin: 7px 0 2px 7px;
}
.contact-details {
  text-align: left;
  position: absolute;
  right: 3%;
  margin: 3em 0;
  z-index: 99;
  background: #39a9a4;
  background: rgba(57, 169, 164, 0.95);
  color: #fff;
  padding: 1.5em;
}
.contact-details .circle-icon {
  background: #75c3bf;
}
.contact-details .circle-icon:hover {
  background: #268e89;
}
.contact-details a {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  font-weight: 700;
  font-size: 1.5em;
  color: #ffffff;
}
.contact-details a:hover {
  color: #268E89;
}
.contact-details .cotact-address li {
  display: inline-block;
  list-style-type: none;
  padding-left: 25px;
  vertical-align: top;
  font-size: .9em;
  margin: 0 20px;
}
.contact-details .cotact-address li .location-marker {
  margin-left: -25px;
  font-size: 1.5em;
  line-height: 1.6em;
}
.contact-details .cotact-address li.active .location-marker {
  color: #e1704b;
}
.contact-details .cotact-address li .address span {
  display: block;
}
.google-map {
  width: 100%;
  height: 600px;
}
.send-message {
  padding: 2% 0;
}
.send-message .form-group {
  width: 50%;
  padding: 3%;
  height: 350px;
}
.send-message .form-group textarea {
  height: 100%;
}
.send-message .form-group input {
  height: 3em;
  margin-bottom: 1em;
}
.send-message .info {
  color: #e1704b;
}
@media only screen and (max-width: 768px) and (min-width: 0) {
  #google_map {
    height: 300px;
  }
  .contact-details {
    position: static;
    margin: 0 auto;
    width: 100%;
  }
  .circle-icon {
    font-size: 2em;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  /* Smartphones ----------- */
}
@media only screen and (max-width: 768px) and (min-width: 0) and only screen and (max-width: 580px) and (min-width: 0) {
  .send-message .form-group {
    width: 90%;
    height: auto;
    float: none;
    margin: 0 auto;
  }
  .send-message .form-group input {
    height: 2em;
    margin-bottom: 1em;
    text-align: center;
  }
}
.flickr-feed {
  bottom: 0;
  overflow: hidden;
  float: left;
  width: 100%;
  background-color: #f1f0e8;
}
.flickr-feed ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: -75px;
  width: 120%;
  height: 150px;
  overflow: hidden;
  text-align: center;
}
.flickr-feed ul li {
  display: inline-block;
  width: 150px;
  background: #E1704B;
}
.flickr-feed ul li img {
  max-width: 100%;
}
.flickr-feed ul li:hover img {
  opacity: 0.5;
}
.our-team {
  padding: 1.18em 0;
}
.our-team.our-partners {
  background-color: #EEE;
}
.our-team .profile {
  width: 25%;
  padding: 0 2%;
  height: 500px;
  text-align: center;
  cursor: pointer;
  margin: .5em auto 4em;
  float: left;
}
.our-team .profile img {
  margin: 0 auto;
  -webkit-transition: -webkit-transform .5s ease;
          transition: transform .5s ease;
  width: 200px;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.our-team .profile img:hover {
  -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
      -ms-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
          transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  -webkit-filter: none;
          filter: none;
}
.our-team h4 {
  color: #e1704b;
  height: 2em;
  font-size: 0.8em;
}
.our-team .description {
  font-style: italic;
}
.detail-we-are {
  overflow: hidden;
  margin-bottom: 1.18em;
  position: relative;
  min-height: 600px;
  color: #ffffff;
}
.detail-we-are .back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3.75em 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  background-color: #39a9a4;
}
.detail-we-are .back.back1 {
  background-image: url("/images/background-1.png");
}
.detail-we-are .back.back2 {
  background-image: url("/images/background-2.png");
}
.detail-we-are .back.back3 {
  background-image: url("/images/background-3.png");
}
.detail-we-are .back.back4 {
  background-image: url("/images/background-4.png");
}
.detail-we-are .back.back5 {
  background-image: url("/images/background-5.png");
}
.detail-we-are .about-box {
  text-align: left;
  width: 85%;
  background: rgba(57, 169, 164, 0.9);
  color: #ffffff;
  padding: 20px;
  margin: 30px auto;
}
.detail-we-are .about-box h2 {
  margin: 0.5em 0;
}
.detail-we-are .about-box .about-center {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1.5em;
     -moz-column-gap: 1.5em;
          column-gap: 1.5em;
}
@media only screen and (max-width: 1024px) {
  .our-team .profile {
    width: 50%;
    height: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .wrap .about-box {
    width: 100%;
    margin: 0;
  }
  .our-team .profile {
    width: 90%;
    height: auto;
    float: none;
  }
  .detail-we-are {
    background: #39a9a4;
    min-height: 0;
  }
  .detail-we-are .back {
    display: none;
  }
  .detail-we-are .about-box {
    background: none;
  }
}
@media only screen and (max-width: 580px) {
  .wrap h1 {
    font-size: 1em;
  }
  .wrap .about-box .about-center {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.send-project {
  padding: 2% 0;
}
.send-project h1 {
  text-align: left;
  font-size: 1.5em;
  letter-spacing: .05em;
}
.send-project h2 {
  font-size: 2em;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.send-project .info {
  color: #e1704b;
}
.send-project .plan-form-group {
  width: 50%;
  padding: 1.5%;
}
.send-project .plan-form-group .common-btn {
  position: static;
  height: 15%;
}
.send-project .plan-form-group textarea {
  height: 330px;
}
.send-project .plan-form-group h2 {
  font-size: 2em;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.send-project .plan-form-group select {
  height: 2em;
}
.send-project .plan-form-group b {
  font-size: 24px;
}
.send-project .plan-form-group input.radio {
  margin: 20px;
  display: inline-block;
}
.send-project h1.required:after {
  color: #d77251;
  content: '*';
}
.project-wrap {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1140px;
  position: relative;
}
.bigradioholder {
  width: 5%;
  background: #fff;
  font-size: 1em;
  color: #666;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.bigradioholder:hover {
  background-color: #eee;
}
.pro-col1,
.pro-col2 {
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 0;
}
.pro-col1 {
  float: left;
}
.pro-col2 {
  float: right;
}
