{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="HomeController"{{/contentFor}}

<section class="what-we-are" ng-class="homeBack">
    <div class="wrap">
        <div class="box colour1">
            <h2>We help solving your problems by creating your own software!</h2>
            <button type="button" class="btn btn-lg btn-submit"><a href="about"> About Us</a></button>
            <button type="button" class="btn btn-lg btn-submit"><a href="contact">Hire Erealm</a></button>
       </div>

    </div>
</section>
<section class="what-we-work">
        <carousel interval="myInterval">
            <slide ng-repeat="work in works" active="work.active" class="wrap">
                <h2><a href="{{angular 'work.home'}}" ng-bind="work.title" target="_blank"></a></h2>
                <div class="carousel-caption">
                    <p ng-bind="work.description"></p>
                </div>
                <img ng-src="{{angular 'work.image'}}" style="height: 500px">
            </slide>
        </carousel>
</section>
<section class="what-we-love">
    <div class="wrap">
        <h2>What we love</h2>
        <ul>
            <li class="end">
                <div class="illustration fa fa-codepen"></div>
                <p>We love learning, developing and pushing ourselves and we embrace the latest ideas through lots of industry reading and conference-going.</p>
            </li>
            <li>
                <div class="illustration fa fa-code"></div>
                <p>We love Java, C#, Object C, JavaScript, CSS, HTML language. We use Jquery, AngularJs, Node.js, Express, Asp.net, JSP,MSSQL, MySQL, Oracle, MongoDB, Couchbase to create web site</p>
            </li>
            <li>
                <div class="illustration fa fa-apple"></div>
                <p>We love Apple products. We use our Macbooks Pros, iPads and iPhones for work because we love using beautifully designed things.</p>
            </li>
            <li class="last">
                <div class="illustration fa fa-group"></div>
                <p>We love being a professional team and working directly with you on all your projects. We love to talk and discover your ideas.</p>
            </li>
        </ul>
        <a href="project" title="submit your project plan to us" target="_self"><i class="fa fa-hand-o-right"></i> Submit your project plan to us</a>
    </div>
</section>

