{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="HomeController"{{/contentFor}}

<section class="what-we-are" ng-class="homeBack">
    <div class="wrap">
        <div class="box colour1">
               <h2 translate="slogan"></h2>
            <button type="button" class="btn btn-lg btn-submit"><a href="about" translate="about.us"></a></button>
            <button type="button" class="btn btn-lg btn-submit"><a href="contact" translate="hire.us"></a></button>
       </div>

    </div>
</section>
<section class="what-we-work">
        <carousel interval="myInterval">
            <slide ng-repeat="work in works" active="work.active" class="wrap">
                <h2><a href="{{angular 'work.home'}}" ng-bind="work.title" target="_blank"></a></h2>
                <div class="carousel-caption">
                    <p ng-bind="work.description"></p>
                </div>
                <img ng-src="{{angular 'work.image'}}" style="height: 500px">
            </slide>
        </carousel>
</section>
<section class="what-we-love">
    <div class="wrap">
        <h2 translate="what.welove"></h2>
        <ul>
            <li class="end">
                <div class="illustration fa fa-codepen"></div>
                <p translate="love.one"></p>
            </li>
            <li>
                <div class="illustration fa fa-code"></div>
                <p translate="love.two"></p>
            </li>
            <li>
                <div class="illustration fa fa-apple"></div>
                <p translate="love.three"></p>
            </li>
            <li class="last">
                <div class="illustration fa fa-group"></div>
                <p translate="love.four"></p>
            </li>
        </ul>
        <a href="project" translate="submit" target="_self"><i class="fa fa-hand-o-right"></i></a>
    </div>
</section>
<section class="cta">
    <div class="wrap">
        <b translate="how.help"></b>&nbsp;&nbsp;<a href="contact" translate="touch.us"></a>
    </div>
</section>

