{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="HomeController"{{/contentFor}}

<section class="what-we-are">
    <div class="back" ng-class="homeBack"></div>
    <div class="wrap">
        <div class="home-box">
            <h2 translate="slogan"></h2>
            <button type="button" class="btn btn-lg btn-submit home-submit"><a href="about" translate="about_us"></a></button>
            <button type="button" class="btn btn-lg btn-submit home-submit"><a href="contact" translate="hire_us"></a></button>
       </div>
    </div>
</section>
<section class="what-we-work">
        <carousel interval="myInterval">
            <slide ng-repeat="work in works" active="work.active" class="wrap">
                <h2><a href="{{angular 'work.home'}}" ng-bind="work.title" target="_blank"></a></h2>
                <div class="carousel-caption">
                    <p ng-bind="work.description"></p>
                </div>
                <img ng-src="{{angular 'work.image'}}">
            </slide>
        </carousel>
</section>
<section class="what-we-love">
    <h2 translate="what_welove"></h2>
    <ul>
        <li class="end">
            <div class="illustration fa fa-bell-o"></div>
            <p translate="love_one"></p>
        </li>
        <li>
            <div class="illustration fa fa-coffee"></div>
            <p translate="love_two"></p>
        </li>
        <li>
            <div class="illustration fa fa-unlock"></div>
            <p translate="love_three"></p>
        </li>
        <li class="last">
            <div class="illustration fa fa-user"></div>
            <p translate="love_four"></p>
        </li>
    </ul>
    <a href="project" title="submit your project plan to us" target="_self" translate="submit"><i class="fa fa-hand-o-right"></i></a>
</section>

