<!DOCTYPE html>
<html data-app="erealm">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>eRealm Info & Tech Sdn Bhd</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="author" href="humans.txt">
</head>
<body ng-controller="DBController">
<!--<table align="center" border="0" width="400px" height="500px">-->

    <table align="center" border="0" cellspacing="15px">
        <tr>
            <td align="center">
                <label style="color: blue">Database management.</label>
            </td>
        </tr>

        <form  ng-submit="queryCollection();" method="" action="" novalidate="novalidate" role="form" name="queryForm">
            <tr>
                <td>
                    <label ng-bind="message" style="color:red"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Collection：</label>
                </td>
                <td>
                    <select  ng-options="collection.name for collection in collections" ng-model="collectionName">
                        <option value="">-- choose collection --</option>
                    </select>
                </td>
                <td>
                    <button name="submit" type="submit" ng-click="submitted=true" ng-disabled="loading">query</button>
                </td>
            </tr>
        </form>

        <form  ng-submit="saveCollection();" method="" action="" novalidate="novalidate" role="form" name="saveForm">
            <tr>
                <td>
                    <textarea rows="15" cols="80" ng-model="collectionContent"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label ng-bind="saveMessage" style="color:red"></label>
                </td>
                <td  align="center">
                    <button name="submit" type="submit" ng-click="submitted=true" ng-disabled="loading">save</button>
                </td>
            </tr>
        </form>

    </table>
    <!-- build:js /javascripts/libs.min.js -->
    <script src="/javascripts/libs/angular.min.js"></script>
    <script src="/javascripts/libs/jquery.min.js"></script>
    <script src="/javascripts/libs/plugins/angular-cookies.min.js"></script>
    <script src="/javascripts/libs/plugins/angular-translate.min.js"></script>
    <script src="/javascripts/libs/plugins/angular-translate-loader-url.min.js"></script>
    <script src="/javascripts/libs/plugins/angular-translate-storage-cookie.min.js"></script>
    <script src="/javascripts/libs/plugins/ui-bootstrap-tpls.min.js"></script>
    <script src="/javascripts/libs/plugins/ng-mobile-menu.min.js"></script>
    <script src="/javascripts/libs/plugins/bootstrap.min.js"></script>
    <!-- endbuild -->
    <script src="/javascripts/erealm.js"></script>
    <script src="/javascripts/app/dbController.js"></script>
<script>
    angular.element(document).ready(function() {
        // Launch jdk module. Here we go!
        var id = angular.element(document.querySelector('html')).attr('data-app');
        console.log('booting angular app: ' + id);
        angular.bootstrap(document, [id]);
    });
</script>
</body>
</html>
