{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="ProjectController"{{/contentFor}}
<section class="wrap error-info">
    <h1>Coming Soon</h1>
    <p>We are working on this page, please try again in a couple days.</p>
</section>

