{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="ProjectdetailsController"{{/contentFor}}


<div id="container">
    <header>
        <h1>jQuery Wookmark Plug-in Example</h1>
        <p>Scroll down to see the infinite scroll effect.</p>
    </header>
    <div id="main" role="main">

        <ul id="tiles">
            <!-- These are our grid blocks -->
            <li><img src="http://i.imgur.com/O7Oybsd.jpg" width="200" height="283"><p>1</p></li>
            <li><img src="http://i.imgur.com/aPrBC6B.jpg" width="200" height="300"><p>2</p></li>
            <li><img src="http://i.imgur.com/T70eNfm.jpg" width="200" height="252"><p>3</p></li>
            <li><img src="http://i.imgur.com/IqXfUrJ.jpg" width="200" height="158"><p>4</p></li>
            <li><img src="http://i.imgur.com/cFIg4CB.jpg" width="200" height="300"><p>5</p></li>
        </ul>

    </div>
    <footer>

    </footer>
</div>

