{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="ProjectdetailsController"{{/contentFor}}

<div class="wrap">
    <header>
    <ul id="project_navigation">
    <li><a id="up" href="work" class="grid"><span></span></a></li>
    <li class="last"><a id="next" href="logo_wecommend" class="arrow right"><span></span></a></li>
    </ul>
    </header>
    <h2>{{angular 'projectDetails.proj_name'}}</h2>
    <p class="project_intro">LifeWay Christian Resources is one of the world's largest providers of Christian products and services, including Bibles, Bible studies, research, church music and supplies, and digital services.</p>
    <hr class="short">
    <img class="restrict-size" src="http://i.imgur.com/5FG3VcI.png" alt="MyStudyBible">

    <hr class="short">
    <div class="colleft">
        <img src="http://i.imgur.com/GtrP1Gz.png" alt="theme">&nbsp;&nbsp;&nbsp;
        <img src="http://i.imgur.com/LLCWo87.png" alt="cross reference" class="restrict-size">
        <br>
        <br>
        <img src="http://i.imgur.com/oog6lDi.png" alt="library" class="restrict-size">&nbsp;&nbsp;&nbsp;
        <img src="http://i.imgur.com/A5ARYkn.png" alt="store" class="restrict-size">

    </div>
    </br>
    <div class="colright">
        <img src="http://i.imgur.com/lCyxeqV.png" alt="brought" class="restrict-size">
        <br>
        <br>
        <img src="http://i.imgur.com/Bk2NWSl.png" alt="Realmac Software blog" class="restrict-size">&nbsp;&nbsp;&nbsp;
        <img src="http://i.imgur.com/bNmYBZk.png" alt="Realmac Software blog" class="restrict-size">
    </div>


    <hr class="short">
    <p>Realmac Software approached Supereight to redesign their website with a fresh, responsive and simple approach with a focus on typography, having previously produced some RapidWeaver themes for them.</p>

    <p>We were delighted to work with Realmac Software as we are big fans of their iOS and Mac apps, such as Clear,Ember and Analog and they are both inspiring and real joy to work with.</p>

    <p><a class="link" href="http://www.realmacsoftware.com" target="_blank">realmacsoftware.com</a></p>

</div>

<section id="cta">
    <div class="wrap">
        <p>Let us help your App look awesome. <a href="contact">Let's&nbsp;get&nbsp;started</a>.</p>
    </div>
</section>
