{% extends 'layouts/master.html' %}
{% block bodyAttr %}ng-controller="WorkDetailsController"{% endblock %}
{% block content %}
<section class="project-details-container">
    <div class="wrap">
    <header>
        <h2 ng-bind="projectDetails.proj_name"></h2>
        <a href="/work" title="back to project list" class="back-work fa fa-th"></a>
    </header>
        <p class="introduce" ng-bind="projectDetails.description_title"></p>
        <hr class="short">
    <ul id="project_details" class="project-details" ng-init="bindImageLoad()">
        <li ng-repeat="detail in projectDetails.details">
            <img ng-src="{{'detail.image'}}">
            <b ng-bind="detail.title"></b>
            <p ng-bind="detail.description"></p>
        </li>
    </ul>
        <hr class="short">
        <p>{{'projectDetails.description_conclude_one'}}<a class="link" ng-attr-href="{{'projectDetails.home'}}" target="_blank">{{'projectDetails.link_name'}}</a>{{'projectDetails.description_conclude_two'}}</p>
        <b>{{'projectDetails.let_us'}}<a href="contact">{{'projectDetails.lets'}}</a>.</b>
    </div>
</section>
{% endblock %}