{{!< master}}
{{#contentFor "bodyAttr"}}ng-controller="WorkController"{{/contentFor}}
<div class="work-wrap">
  <div>
    <ul class="work_row">
        <li class="col-lg-4" ng-repeat="pro in project">
            <a ng-href="#{{angular 'pro.proj_name'}}">
                <figure>
                    <img ng-src="{{angular 'pro.cover'}}"/>
                </figure>
            </a>
            <h3 ng-bind="pro.proj_name"></h3>

            <q ng-bind="pro.description" class="description"></q>

        </li>
    </ul>
</div>
</div>

