<div style="font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:100%;margin:0px 0px">

    <table align="center" style="width: 100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td>
                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%" bgcolor="#4dbfbf">
                    <tbody>
                    <tr>
                        <td style="text-align: center">
                            <img src="http://i.imgur.com/hNEbCu2.png" style="width: 100px;height: 90px" alt="Erealm logo picture">
                        </td>
                    </tr>
                    <tr valign="baseline">
                        <td style="font-weight:bold;color:#ffffff;font-size: 52px;text-align:center;">
                            {{language.maintitle}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <img src="http://i.imgur.com/CGFK9Oq.png" width="216" height="230" alt="robot picture">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;color: #444;font-weight:bold;text-align:center;width:90;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);">
                            <span style="width:560px;background-color: #f5774e;margin:0 auto;color:#ffffff;padding:5px 10px;border-radius:15px">{{language.newmessage}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="height:auto;vertical-align:top;font-size:12px;padding-left:30px;padding-right:30px;padding-top:20px">
                            <div class="im">

                                <p style="font-weight:bold;font-size: 20px;color:#444;">{{language.dearall}},
                                </p>
                                <p style="font-weight:normal;font-size: 15px;color:#187272;">
                                    {{language.promption}} <br><br>
                                    {{language.reachus}}
                                </p>
                                <table style="font-weight:normal">
                                    <tbody align="left" style="font-size:15px">
                                    <tr>
                                        <td style="font-weight:bold;text-align:right">{{language.name}} :</td>
                                        <td style="font-weight:normal"> {{name}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold;text-align:right">{{language.emailid}}:</td>
                                        <td style="font-weight:normal"><a href="mailto:{{email}}" target="_blank">{{email}}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold;text-align:right">{{language.message}}:</td>
                                        <td style="font-weight:normal"> {{message}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="height:50px;vertical-align:top;font-size:12px;padding-left:30px;padding-right:30px;padding-top:20px">
                            <p style="font-weight:bold;color:#444;font-size: 15px">{{language.thanks}},<br> <a href="http://www.erealm.com.my">{{language.link}}</a><br>
                            </p>

                            <p style="font-weight:normal;color:#d80404;font-size:15px"><span style="font-weight:bold">{{language.note}}:</span><span>{{language.notecontent}}</span>
                            </p>
                        </td>
                    </tr>
                    <table align="center" style="width: 100%;color:#444;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);background-color: #f5774e;font-size:15px;" cellspacing="8" cellpadding="0">
                        <colgroup>
                            <col style="width: 50%">
                            <col align="center">
                        </colgroup>
                        <tr>
                            <td style="text-align: right;color:#ffffff;">{{language.office}}</td>
                            <td>{{language.address}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;color:#ffffff;">{{language.contact}}:</td>
                            <td><a href="mailto:hello@erealm.com.my" target="_blank">{{language.email}}</a></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;color:#ffffff;">{{language.phone}}:</td>
                            <td><a href="tel:%2B60%20011%202623%204513" value="{{language.tel}}" target="_blank">{{language.tel}}</a></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;color:#ffffff;">{{language.postcode}}:</td>
                            <td>47100</td>
                        </tr>
                    </table>

                    <table style="margin: 0 auto;text-align: center; width: 100%" cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#414141">
                        <tr>
                            <td style="color:#bbbbbb; font-size:12px;height:40px;background-color:#414141;;text-align:center;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);">
                                <br>
                                &copy; 2014 {{language.copyright}}
                                <br>
                                <br>
                            </td>
                        </tr>
                    </table>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>