<!DOCTYPE html>
<head>
    <meta charset="utf-8">
</head>
<div style="font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:100%;margin:0px 0px">
    <table align="center" width="700" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td>
                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%" bgcolor="#4dbfbf">
                    <tbody>
                    <tr valign="baseline">
                        <td style="font-weight:bold;color:#ffffff;font-size: 44px;text-align:left;">
                            <br>
                            &nbsp;<img src="http://i.imgur.com/hNEbCu2.png" width="100" height="90" alt="Erealm logo picture">
                            西安瑞木信息技术有限公司
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <img src="http://i.imgur.com/CGFK9Oq.png" width="216" height="230" alt="robot picture">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:40px;color:#ffffff;font-weight:bold;text-align:center;width:90;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);">
                            <span style="width:560px;background-color: #f5774e;margin:0 auto;padding:5px 10px;border-radius:15px">来自客户的新邮件</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="height:auto;vertical-align:top;font-size:12px;padding-left:30px;padding-right:30px;padding-top:20px">
                            <div class="im">
                                <p style="font-weight:bold;font-size: 20px;color: #444">尊敬的 Erealm成员,
                                </p>
                                <p style="font-weight:normal;font-size: 15px;color: #187272">
                                    您有一封新邮件。 <br><br>
                                </p>
                                <table style="font-weight:normal">
                                    <tbody align="left" style="font-size:15px">
                                    <tr>
                                        <td style="font-weight:bold;text-align:right">姓名 :</td>
                                        <td style="font-weight:normal"> {{name}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold;text-align:right">电子邮件 :</td>
                                        <td style="font-weight:normal"><a href="mailto:{{email}}" target="_blank">{{email}}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight:bold;text-align:right">邮件内容 :</td>
                                        <td style="font-weight:normal"> {{message}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="height:50px;vertical-align:top;font-size:12px;padding-left:30px;padding-right:30px;padding-top:20px">
                            <p style="font-weight:bold">谢谢,<br> <a href="http://www.erealm.com.cn">西安瑞木信息技术有限公司</a><br>
                            </p>

                            <p style="font-weight:normal;color:#d80404;font-size:15px"><span style="font-weight:bold">温馨提示:</span><span>如需回复，请点击客户邮箱。</span>
                            </p>
                        </td>
                    </tr>
                    <table align="center" width="700" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="height:150px;color:#444;background-color: #f5774e;font-size:15px;text-align:left;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);">
                                <b style="color:#ffffff;">中国办公室:</b><br/>
                                <br>
                                <address>陕西省西安市雁塔区<br>
                                    丈八一路5号<br>
                                    绿地SOHO A座
                                </address>
                            </td>
                            <td style="height:150px;color:#444;background-color: #f5774e;font-size:15px;text-align:left;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);">
                                <b style="color:#ffffff;">邮箱:</b><a href="mailto:hello@erealm.com.my" target="_blank">hello@erealm.cn</a><br/>
                                <br>
                                <b style="color:#ffffff;">联系电话:</b><a href="tel:%2B60%20011%202623%204513" value="+86 029-6859-6119" target="_blank">+86 029 6859 6119</a><br/>
                                <br>
                                <b style="color:#ffffff;">邮编:</b>710065
                            </td>
                        </tr>
                    </table>
                    <table style="margin: 0 auto;text-align: center" width="700" cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#414141">
                        <tr>
                            <td style="color:#bbbbbb; font-size:12px;height:40px;background-color:#414141;;text-align:center;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);">
                                <br>
                                © 2014 Erealm 版权所有
                                <br>
                                <br>
                            </td>
                        </tr>
                    </table>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>