.flickr-feed{
  // position: absolute;
  bottom: 0;
  overflow: hidden;
  float:left;
  width: 100%;
  background-color: @content;

  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: -75px;
    width: 120%;
    height: 150px;
    overflow: hidden;
    text-align: center;

    li {
      display: inline-block;
      width: 150px;
      background: #E1704B;

      img {
        max-width: 100%;
      }

      &:hover {
        img {
          opacity: 0.5;
        }
      }
    }
  }
}

.team-profile {


  .profile {
    width: 25%;
    padding: 0 2%;
    height: 500px;
    text-align: center;
    cursor:pointer;
    margin:.5em auto 4em;
    float: left;

    img{
      margin:0 auto;
      transition:transform .5s ease;
      width: 180px;
      height:180px;
      filter: grayscale(100%);

      &:hover {
        transform:matrix(1.1,0,0,1.1,0,0);
        filter: none;
      }
    }
  }
}

.detail-we-are {
  overflow: hidden;
  margin-bottom: 1.18em;
  position: relative;
  min-height: 600px;
  color: @white;

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3.75em 0;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    background-color:@green;
    &.back1 {
      background-image: url("/images/background-1.png");
    }
    &.back2 {
      background-image: url("/images/background-2.png");
    }
    &.back3 {
      background-image: url("/images/background-3.png");
    }
    &.back4 {
      background-image: url("/images/background-4.png");
    }
    &.back5 {
      background-image: url("/images/background-5.png");
    }
  }

  .about-box {

    text-align: left;
    width: 85%;
    background: rgba(57, 169, 164, 0.9);;
    color: @white;
    padding: 20px;
    margin: 30px auto;
    .about-center {
      column-count: 2;
      column-gap: 1.5em;
    }
  }
}

.section {
  background: @green;
  border: solid 2px @green;
  width: 100%;
  left: 0;
  float: left;
  text-align: center;
  color: @white;

  .container {
    width: 50%;
    text-align: center;
    font-size: 1.5em;

    h2 {
      color: @white;
      font-size: 42px;
      text-transform: capitalize;
      font-family: 'proxima-nova', sans-serif;
      font-weight: 800px;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
  }
}


.description{
  font-family:'Josefin Sans', sans-serif, 'Kalam', cursive;
  color:@orange;
  font-style: italic;

}

@media only screen and (max-width:1024px)
{

  .team-profile {
    .profile {
      width: 50%;
      height: 350px;
    }
  }
}
@media only screen and (max-width:768px)
{
  .wrap .about-box
  {
    width:100%;
  }

  .team-profile {
    .profile {
      width: 90%;
      height: auto;
    }
  }
}
@media only screen and (max-width:580px)
{
  .wrap
  {
    h1
    {
      font-size: 1em;
    }
    .about-box .about-center
  {
    column-count:1;
  }

  }
}
