.flickr-feed{
  // position: absolute;
  bottom: 0;
  overflow: hidden;
  float:left;
  width: 100%;
  background-color: @content;

  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: -75px;
    width: 120%;
    height: 150px;
    overflow: hidden;
    text-align: center;

    li {
      display: inline-block;
      width: 150px;
      background: #E1704B;

      img {
        max-width: 100%;
      }

      &:hover {
        img {
          opacity: 0.5;
        }
      }
    }
  }
}

.our-team {
  padding: 1.18em 0;

  &.our-partners {
    background-color: #EEE;
  }

  .profile {
    width: 33.3333%;
    padding: 0 2%;
    text-align: center;
    margin:.5em auto 2.5em;
    float: left;

    figure {
      background: @orange;
      width: 85%;
      position: relative;
      margin: 0  auto;
      img{
        margin:0 auto;
        transition:transform .5s ease;
        width: 100%;
        opacity: 0.97;
      }
      .description{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 7em;
        display: none;
        padding: 0 0.5em;
        width: 100%;
        color: @white;
      }
      &:hover{
        .description{
          display: block;
        }
        img {
          opacity: 0.3;
        }
      }
    }
  }

  h4 {
    color:@orange;
    height: 2em;
    font-size: 0.8em;
  }
}

.detail-we-are {
  overflow: hidden;
  margin-bottom: 1.18em;
  position: relative;
  min-height: 600px;
  color: @white;

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3.75em 0;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    background-color:@green;
    &.back1 {
      background-image: url("/images/background-1.png");
    }
    &.back2 {
      background-image: url("/images/background-2.png");
    }
    &.back3 {
      background-image: url("/images/background-3.png");
    }
    &.back4 {
      background-image: url("/images/background-4.png");
    }
    &.back5 {
      background-image: url("/images/background-5.png");
    }
  }

  .about-box {

    text-align: left;
    width: 85%;
    background: rgba(57, 169, 164, 0.9);;
    color: @white;
    padding: 20px;
    margin: 30px auto;

    h2 {
      margin: 0.5em 0;
    }
    .about-center {
      column-count: 2;
      column-gap: 1.5em;
    }
  }
}

@media only screen and (max-width:1024px)
{

  .our-team {
    .profile {
      width: 50%;
    }
  }
}
@media only screen and (max-width:768px)
{
  .wrap .about-box
  {
    width:100%;
    margin: 0;
  }

  .our-team {
    .profile {
      width: 100%;
      height: auto;
      float: none;
    }
  }

  .detail-we-are {
    background: @green;
    min-height: 0;
    .back {
      display: none;
    }
    .about-box {
      background: none;
    }
  }
}
@media only screen and (max-width:580px)
{
  .wrap {
    .about-box .about-center {
      column-count:1;
    }
  }
}
