.what-we-work {
  min-height: 400px;
  margin-bottom: 1.18em;
  overflow-x: hidden;
  text-align: center;

  .carousel-control {
    height: 80px;
    width: 80px;
    top: 40%;
    border-radius: 50%;

    &.left, &.right {
      background-image: none;
      background-color: #ea9b81;
    }
    &.left {
      left: -30px;
    }
    &.right {
      right: -30px;
    }

    .glyphicon-chevron-right, .glyphicon-chevron-left {
      top: 25px;
      margin: 0;
    }
    .glyphicon-chevron-right {
      left: 15px;
    }
    .glyphicon-chevron-left {
      left: 35px;
    }
  }

  .carousel-caption {
    color:  @black;
    position: static;
    height: 4em;
  }

  .carousel-indicators li {
    border: 1px solid @black;
  }
  .carousel-indicators .active {
    background-color: #e1704b;
  }

  .carousel-cover {
    height: 500px;
  }

  img {
    margin: 0 auto;
    max-height: 100%
  }
}
.what-we-are {

  overflow: hidden;
  margin-bottom: 1.18em;
  position: relative;
  height: 600px;
  color: @orange;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/background-0.png");

  .home-box {
    width: 650px;
    text-align: center;
    margin-top:150px;

    h2 {
      margin-bottom: 1em;
    }

    .common-btn {
      color: #fff;
      background: transparent;
      border: solid 1px @white;
      &:hover {
        background: #3B4250;
      }
    }
  }
  .back2+.wrap {
    color: @orange;
  }
}

.what-we-love {

  margin: 0;
  padding: 2% 0;
  background: #39a9a4;
  color: #fff;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  .programming-manners li {
    display: inline-block;
    width: 20%;
    margin: 0 2%;
    margin-bottom: 2em;
    vertical-align: top;

    .illustration {
      width: 115px;
      height: 115px;
      background: #ffffff;
      display: inline-block;
      border-radius: 50%;
      margin-bottom: 30px;
      color: #666;
      font-size: 60px;
      line-height: 115px;
    }


  }
  a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;

    &:hover {
      color: #333;
    }
  }
}

.what-we-can {
  padding: 2% 0%;
  overflow: hidden;
  min-height: 400px;
  color: @white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/background-6.png");
  text-align: center;

  .programming-language li {
    display: inline-block;
    width: 100px;
    margin: 1%;
    margin-bottom: 2em;
    vertical-align: top;
    text-align: center;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      margin: 0 auto;
      background-image: url("/images/languages.png");
    }

    &.language-java::before {
      background-position: 10px 0;
    }
    &.language-scala::before {
      background-position: -96px 0;
    }
    &.language-net::before {
      background-position: -200px 0;
    }
    &.language-nodejs::before {
      background-position: -300px 0;
    }
    &.language-php::before {
      background-position: -400px 0;
    }
    &.language-go::before {
      background-position: 0 -100px;
    }
    &.language-swift::before {
      background-position: -100px -100px;
    }
    &.language-html5::before {
      background-position: -200px -100px;
    }
    &.language-python::before {
      background-position: -300px -100px;
    }
    &.language-ruby::before {
      background-position: -400px -100px;
    }
  }
  .programming-technology {
    width: 98%;
    margin: 0 auto;
    li {
      display: inline-block;
      margin: 0 1em;
    }

    .tech-1 {
      font-size: 0.7em;
      color: rgba(255,255,255, 0.7);
    }
    .tech-2 {
      font-size: 0.8em;
      color: rgba(255,255,255, 0.8);
    }
    .tech-3 {
      font-size: 0.9em;
      color: rgba(255,255,255, 0.8);
    }
    .tech-4 {
      font-size: 1em;
      color: rgba(255,255,255, 0.9);
    }
    .tech-5 {
      font-size: 1.1em;
    }
  }
}

.cta
{
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  padding: 2.5em 1em;
}


@media only screen and (max-width: 1024px)
{
  .what-we-love
  {
    .programming-manners li
    {
      width: 40%;
      margin: 0 2.5%;
    }
  }

}
@media only screen and (max-width: 768px) and (min-width: 0){
  .what-we-are
  {
    height: auto;
    .wrap
    {
      .home-box
      {
        width: 100%;
        padding: 10px;
        margin: 100px 0;
        text-align: center;
      }
    }
  }
  .what-we-work .carousel-cover {
    height: 300px;
  }
}



@media only screen and (max-width: 580px) and (min-width: 0)
{
  .what-we-are
  {
    .back {
      &.back1,&.back2,&.back3,&.back4 {
        background-image: none;
      }
    }
    .wrap
    {
      .home-box
      {
        margin: 50px 0;
        h2
        {
          font-size: 1.5em;
        }
      }
    }
  }
  .what-we-work  {
    .carousel-caption {
      height: 6em;
      padding: 0;
    }

  }

  .what-we-love
  {
    .programming-manners li
    {
      width: 90%;
      margin: 1em auto;
      p
      {
        width: 100%;
      }
    }

    a {
      font-size: 1.2em;
    }
  }
}