.what-we-work {
  min-height: 400px;
  margin-bottom: 1.18em;
  overflow-x: hidden;

  .carousel-control {
    height: 80px;
    width: 80px;
    top: 40%;
    border-radius: 50%;

    &.left, &.right {
      background-image: none;
      background-color: #ea9b81;
    }
    &.left {
      left: -30px;
    }
    &.right {
      right: -30px;
    }

    .glyphicon-chevron-right, .glyphicon-chevron-left {
      top: 25px;
      margin: 0;
    }
    .glyphicon-chevron-right {
      left: 15px;
    }
    .glyphicon-chevron-left {
      left: 35px;
    }
  }

  .carousel-caption {
    color:  #333;
    position: static;
  }

  .carousel-indicators .active {
    background-color: #e1704b;
  }

  img {
    margin: 0 auto;
  }
}
.what-we-are {
  padding: 3.75em 0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 1.18em;

  .box {

    width: 50%;
    color: #ffffff;
    text-align: left;
    padding: 2.2em 2.2em 2.2em 2.5em;
    clear: both;
    opacity: 1;

    h1 {
      color: #ffffff;
    }

    p {
      font-size: 1.2em;
    }

    a {
      color: @white;
    }

    a:hover {
      color:  #b23f1a;
    }
  }

  background-image: url("/images/background-1.png");
  &.back1 {
    background-image: url("/images/background-1.png");
  }
  &.back2 {
    background-image: url("/images/background-2.png");
  }
  &.back3 {
    background-image: url("/images/background-3.png");
  }
  &.back4 {
    background-image: url("/images/background-4.png");
  }
  &.back5 {
    background-image: url("/images/background-5.png");
  }
}

.what-we-love {

  margin: 0;
  padding: 2% 0%;
  background: #39a9a4;
  color: #fff;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    width: 20%;
    margin-right: 4%;
    margin-bottom: 2em!important;
    vertical-align: top;
  }
  .illustration {
    width: 115px;
    height: 115px;
    background: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 30px;
    color: #666;
    font-size: 60px;
    line-height: 130px;
  }

  a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;

    &:hover {
      color: #333;
    }
  }

}

.cta
{
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  padding: 2.5em 1em;
}

@media only screen and (max-width: 580px) and (min-width: 0)
{
  .what-we-are
  {
    padding: 0;
    background-image: none !important;
    background-color: @green;
    .wrap
    {
      width: 100%;
      .home-box
      {
        width: 100%;
        display: block;
        padding: 0 10px;
        text-align: center;
        h2
        {
          font-size: 1.5em;
        }
      }
    }
  }
  .what-we-love .wrap
  {
    width: 100%;
    ul li
    {
      width: 80%;
      margin-right: 5%;
      p
      {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1402px)and (min-width: 1272px)
{
  .what-we-love .wrap
  {
    width: 100%;
    ul li
    {
      width: 40%;
      margin-right: 5%;
      p
      {
        width: 100%;
      }
    }
  }

}
@media only screen and (max-width:1271px) and (min-width: 768px)
{
  .what-we-love .wrap
  {
    width: 100%;
    ul li
    {
      width: 43%;
      margin-right: 5%;
      p
      {
        width: 100%;
      }
    }
  }
}
@media only screen and (min-width:581px) and (max-width:767px)
{
  .what-we-love .wrap
  {
    width: 100%;
    ul li
    {
      width: 43%;
      margin-right: 5%;
      p
      {
        width: 100%;
      }
    }
  }
}