@lightgreen:#54C1CF;
@white: #ffffff;
@orange:#e67e22;
@green:#75D1CD;
@clouds: #ecf0f1;
@grey:#d2d6d5;
@black:#333;
@content:#F1F0E8;
@lightgreen:#54C1CF;
@lightblue: #34495e;
@darkblue: #2c3e50;

html {
  height: 100%;
}
body {
  background:@white;
  color: @black;
  font-family:'Roboto',"Helvetica","Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
  font-size:20px;
  -webkit-font-smoothing: antialiased;
}
.wrap {
  margin: 0 auto;
  width: 85%;
  max-width: 1140px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

::-moz-selection { background: #3DA9A4; color: #fff; text-shadow: none; }
::selection { background: #3DA9A4; color: #fff; text-shadow: none; }
a {
  color: @orange;
  text-decoration: none;
  transition: color .15s linear;
}

a.link:before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  margin-right: .5em;
}

a:hover {
  color: @white;
  text-decoration: none;
}

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

h2,h3 {
  font-family:'Arimo', "Microsoft YaHei", "微软雅黑", SimSun, "宋体",sans-serif;
  font-weight: 700;
}

h1 {
  font-family: 'Roboto Slab', "Microsoft YaHei", "微软雅黑", SimSun, "宋体",sans-serif;
  font-size: 2em;
  line-height: 1em;
  margin: .5em 0;
  color: #333333;
  letter-spacing: .05em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin: .5em 0;
}


h3 {
  padding: 0;
  font-size: 1.2em;
  margin: 10px 0 1em 0;
  color:@orange;
}

h4 {
  color: #333333;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 0;
  margin: 0 0 1em 0;
}
p {
  padding-bottom: 0.8em;
}
.left {
  float: left;
}
.right {
  float: right;
}

.form-control {
  border: none;
  border-radius: 0;
  padding: 0.9em;
  font-size: 1.2em;
  background: #eeeeee;
  position: relative;
  color: inherit;
}
.input-group-addon {
  border-radius: 0;
  border: none;
}

textarea.error, input.error {
  background-color: #e1704b;
  color: #FFF;

  &::-webkit-input-placeholder { color:#FFF; }
  &::-moz-placeholder { color:#FFF; } /* firefox 19+ */
  &:-ms-input-placeholder { color:#FFF; } /* ie */
  &:-moz-placeholder { color:#FFF; }
}



.circle-icon {
  background: #75c3bf;
  color: #FFF;
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: background .15s linear;
  text-align: center;
}

.common-btn {
  min-width: 170px;
  background: rgba(57, 169, 164, 0.95)!important;
  color: @white;
  font-weight: 700;
  border: none;
  border-radius: 0;
  margin: 10px;
  padding: 10px 25px;
  transition: background 500ms linear;
  font-size: 18px;

  &.reset {
    background: @grey!important;
  }

  &:hover,&:focus {
    color: @white;
    background: #3B4250;
  }
}


/* Header __________________________________________________________ */
header {
  background: #fff;
  overflow: hidden;
  padding: 1.5em 0 1em;
  position: relative;

  .wrap {
    text-align: left;
  }

  .logo-mark {
    float: left;
    width:100px;
    height:100px;
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    background-image: url("/images/erealm.png");
    background-size: 100%;
    background-repeat: no-repeat;

    &:hover {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .intro {
    margin-left: 15%;

    span {
      color: #999999;
      display: block;
      font-size: 1.2em;
      letter-spacing: .05em;
      line-height: 1em;
      margin-bottom: .7em;
    }
  }

  .git-fock {
    background-color: #a00;
    overflow: hidden;
    /* top left corner */
    position: absolute;
    right: -3em;
    top: 2.5em;
    /* 45 deg ccw rotation */
    transform: rotate(45deg);
    /* shadow */
    box-shadow: 0 0 1em #888;

    a {
      border: 1px solid #faa;
      color: #fff;
      display: block;
      font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
      margin: 0.05em 0 0.075em 0;
      padding: 0.5em 3.5em;
      text-align: center;
      text-decoration: none;
      /* shadow */
      text-shadow: 0 0 0.5em #444;
    }
  }
}

/* Navigation __________________________________________________________ */
.nav-container {

  nav {
    background: #f1f1f1;
    border-bottom: 1px solid @grey;
    padding: 0;
    z-index: 999;
    width: 100%;

    .sub-logo-mark {
      float: left;
      width: 2.5em;
      height: 2.5em;
      zoom: 1;
      filter: alpha(opacity=90);
      opacity: 0.9;
      background-image: url("/images/erealm.png");
      background-size: 100%;
      background-repeat: no-repeat;
      margin-top: 0.2em;
      margin-left: .4em;

      &:hover {
        filter: alpha(opacity=100);
        opacity: 1;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .sub-logo-mark {
      display: none;
    }

    &.fixed {
      position: fixed;
      top: 0;

      .sub-logo-mark {
        display: inline-block;
      }
    }

    ul {
      line-height: 3.5em;
      float:right;
      display: inline-block;
      font-size: .9em;
      letter-spacing: .1em;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
      vertical-align: top;

      a {
        color: #333;
        font-weight: 700;
        text-decoration: none;
        margin: 0 1em;
        padding-bottom: 5px;
      }
      a:visited {
        color: #333;
      }

      li {
        line-height: 2em;
        display: inline-block;
        position: relative;
      }
    }

    li.active a {
      color: @orange;
    }
    li:hover a {
      color: @orange;
    }
  }

  .nav-link {
    background-repeat: no-repeat;
    background-size: 29px 59px;
    position: absolute;
    right: 0;
    display: inline-block;
    margin: .7em .4em;
    font-size: 1.5em;
    width: 29px;
    height: 21px;
    display: none;
  }

  nav .wrap {
    text-align: left;
  }

  .blog-badge {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 21px;
    height:21px;
    background: #D55757;
    color: #FFF;
    right: 2px;
    top: -18px;
    text-align: center;
    z-index: 1;
    font-size: 11px;
    font-weight: 700;
    line-height: 17px;
  }
}



.content {
  min-height: 400px;
  position: relative;
  background-color: @white;
}

footer {
  background:@lightblue;
  color: @white;
  padding-top: 2.5em;
  clear: both;
  margin-top: 0;
  position: relative;

  .contact {
    ul {
      margin: 0 0 3em 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0.5em 1.5em;
        width:82px;

        .circle-icon {
          background: transparent;
          border: 2px solid @white;
          color: @white;
          position: relative;

          &:hover {
            border: 2px solid @orange;
            color: @orange;
          }
        }
      }
    }

    p {
      width: 50%;
      margin: 1em auto;
    }
  }

  .copyright {
    background: @darkblue;
    text-align: center;
    padding: 2em;
    p {
      font-size: .7em;
      width: 100%;
    }
  }

  .back-top {
    position: fixed;
    font-size: .8em;
    color: @white;
    bottom: 20px;
    right: 20px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid @white;
    text-align: center;
    background: @green;
    z-index: 1000;
  }
}

.error-info {
  padding: 40px 0;
  h1 {
    color: @orange;
  }
}

.muti-language {
  position:absolute;
  top:-10px;
  left:20px;
  color:#A00;

  .btn-group {
    display: block;
  }


  .btn {
    padding-top: 3px;
    padding-bottom: 0;
    border-radius: 0;
  }
  .dropdown-menu {
    border-radius: 0;
  }
}

.page-menu-slide {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  background-color: @black;
  color: #FFF;
  box-shadow: inset 0 0 5px 5px #222;
  opacity: 0.9;
  transition:width 100ms linear;
  .nav-slide {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;

    li.divider {
      height: 50px;
      border-bottom: 1px solid #5c5c5c;
      background: #CCC;
    }

    li a {
      display: block;
      color: @white;
      padding: 1em 2em ;
      border-bottom: 1px solid #5c5c5c;
      &:hover {
        w-color: #6a6a6a; }
    }
  }
}

.overlay-message {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  .loader {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -30px;
    padding: 0;
    width: 100px;
    list-style: none;
  }
  li {
    background-color: @white;
    width: 15px;
    height: 10px;
    float: right;
    margin: 0 8px;
    box-shadow: 0px 100px 20px rgba(0, 0, 0, 0.2);
   &:first-child {
      animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s;
    }
   &:nth-child(2) {
      animation: loadbars 0.6s ease-in-out infinite -0.2s;
    }
   &:nth-child(3) {
      animation: loadbars 0.6s ease-in-out infinite -0.4s;
    }
  }
}

@keyframes loadbars {
  0%{
    height: 10px;
    margin-top: 25px;
  }
  50%{
    height:70px;
    margin-top: 0px;
  }
  100%{
    height: 10px;
    margin-top: 25px;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  bottom: 0;
}

.message-modal {
  margin: 100px auto;
  text-align: left;

  .modal-dialog {
    max-width: 450px;
  }
  .modal-header {
    background-color: #428bca;
    border-radius: 4px 4px 0 0;

    .glyphicon::before {
      margin-right: 5px;
      content: "\e107";
    }
  }

  .modal-title::after {
    content: '消息';
  }

  h4 {
    color: @white;
  }

  .modal-body {
    padding: 20px 15px;
    color: #3a87ad;
    word-wrap: break-word;
    word-break: break-all;
  }

  &.error {
    .modal-header {
      background-color: #d2322d;

      .glyphicon::before {
        content: "\e107";
      }
    }
    .modal-title::after {
      content: '错误';
    }

    .modal-body {
      color: #b94a48;
    }
  }
  &.warning {
    .modal-header {
      background-color: #f0ad4e;

      .glyphicon::before {
        content: "\e123";
      }
    }
    .modal-title::after {
      content: '警告';
    }

    .modal-body {
      color: #8a6d3b;
    }
  }
  &.success {
    .modal-header {
      background-color: #3c763d;

      .glyphicon::before {
        content: "\e067";
      }
    }
    .modal-title::after {
      content: '成功';
    }

    .modal-body {
      color: #63B264;
    }
  }

  &.confirm {
    .modal-header {
      background-color: #f0ad4e;

      .glyphicon::before {
        content: "\e123";
      }
    }
    .modal-title::after {
      content: '确认';
    }

    .modal-body {
      color: #8a6d3b;
    }

    .modal-footer {
      display: block;
    }
  }
}

@media print {
  .footer, .main-content .sidebar, .main-content .navbar, .report-form, .panel-footer, .back-top {
    display: none;
  }
}

@media only screen and (max-width:1024px)
{

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.1em;
  }
  .wrap
  {
    width:100%;
    padding: 0 1%;
  }
}

@media only screen and (max-width:768px)
{
  header
  {
    .git-fock
    {
      display: none;
    }
    .logo-mark
    {
      float: none;
      width: 80px;
      height: 80px;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 1em;
    }

    .intro {
      margin: 0;
      text-align: center;
    }
  }

  footer {
    .contact {
      p {
        width: 85%;
      }
    }
  }
}

/* Smartphones ----------- */
@media only screen and (max-width: 580px)
{
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  img
  {
    max-width:100%;
    height:auto;
  }
  .muti-language{
    display: none;
  }
  header
  {
    padding: 1em 0;

    .wrap
    {
      .logo-mark
      {
        display: none;
      }
      .intro
      {
        text-align: center;
        margin-left:auto;
        margin-top: 4em;
      }
    }
  }

  .nav-container {
    height: auto;
    nav {
      position: fixed;
      z-index: 99;
      top: 0;
      width: 100%;

      ul {
        display: none;
      }

      .sub-logo-mark
      {
        display: inline-block;
      }
    }

    .nav-link {
      display: inline-block;
    }
  }

  .page-menu-slide.show {
  width: 200px;
  }

  footer
  {
    ul li
    {
      margin-left:.2em;
      margin-right:.2em;
    }
  }
}
