.send-project {
  padding: 2% 0;

    h1{
      text-align: left;
      font-size:1.5em;
      letter-spacing: .05em;
    }

    h2 {
      font-size: 2em;
      letter-spacing: .05em;
      text-transform: uppercase;
    }

  .info {
    color: #e1704b;
  }

  .plan-form-group {
    width: 50%;
    padding:1.5%;

    .common-btn {
      position: static;
      height: 15%;
    }

    textarea {
      height: 330px;
    }

    h2 {
      font-size: 2em;
      letter-spacing: .05em;
      text-transform: uppercase;
    }

    select {
      background-color: #eeeeee;
      height: 2em;
      margin-bottom: -0.2em;
      font-size:1.2em;
      border:none;
      color:#9C9999;
    }

    b {
      font-size: 24px;
    }

    input.radio{
      margin:20px;
      display: inline-block;
    }
  }

  h1.required:after {
    color: #d77251;
    content: '*';
  }
}

.project-wrap {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1140px;
  position: relative;
}

.bigradioholder {
  width: 5%;
  background: #fff;
  font-size: 1em;
  color: #666;
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  cursor: pointer;
}

.bigradioholder:hover {
  background-color: #eee;
}

.pro-col1, .pro-col2 {
  margin: 0;
  width: 47%;
  text-align: left;
  padding: 0;
}

.pro-col1 {
  float: left;
}

.pro-col2 {
  float: right;
}





