.send-project {
  padding: 2% 0;
  .form-group
  {
    h1{
      text-align: left;
      font-size:1.5em;
      letter-spacing: .05em;
    }

  }

    h2 {
      font-size: 2em;
      letter-spacing: .05em;
      text-transform: uppercase;
    }

  .info {
    color: #e1704b;
  }
}

.send-project .form-group {
  width: 50%;
  padding:1.5%;
}

.send-message textarea {
  height: 100%;
}
.send-project .form-group input {
  height: 2em;
  margin-bottom: -0.2em;
}

.send-project .form-group h2 {
  font-size: 2em;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.send-project .info {
  color: #e1704b;
}
.project-wrap {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1140px;
  position: relative;
}

.planner-submit {
  border: none;
  background: #39A9A4;
  border-radius: 10px;
  color: #ffffff;
  height: 10%;
  padding: 1em 3em;
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
  font-weight: 700;
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.send-project h1.required:after {
  color: #d77251;
  content: '*';
}

.bigradioholder {
  width: 48%;
  background: #fff;
  margin-bottom: 1em;
  font-size: 1em;
  height: 2.4em;
  color: #666;
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  cursor: pointer;
}

.bigradioholder {
  width: 100%;
}

.bigradioholder .desc {
  display: inline-block;
  vertical-align: middle;
  padding-left: .6em;
  line-height: 2.4em;
}

.bigradioholder .tick {
  display: inline-block;
  vertical-align: middle;
  width: 2.4em;
  height: 100%;
  background-color: #eee;
  background-image: none;
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.bigradioholder:hover {
  background-color: #eee;
}

.radioholder:hover .tick,.bigradioholder:hover .tick {
  background-color: #ddd;
}

.activeradioholder {
  background: #39A9A4;
  color: #fff;
}

.activeradioholder .tick {
  background-color: #2A817C;
//  background-image: url('../img/radio_tick.png');
  background-size: cover;
}

.activeradioholder:hover {
  background-color: #39A9A4;
}

.activeradioholder:hover .tick {
  background-color: #2A817C;
}

.pro_col1, .pro_col2 {
  margin: 0;
  width: 47%;
  text-align: left;
  padding: 0;
}

.pro_col1 {
  float: left;
}

.pro_col2 {
  float: right;
}





