.project-details-container {
  background-color: #ffffff;
}
.project-details {
  position: relative;

  li {
    background-color: #ffffff;;
    box-shadow: 0 1px 3px #dedede;
    border: 1px solid #dedede;
    margin: 10px;
    padding: 5px;
    img {
      width: 100%;
      height: auto;
    }
    p {
      color: #666;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      font-weight: 200;
      margin: 7px 0 2px 7px;
    }
  }
}